@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }


    .hero {
        padding: 188px 472px;
        background-color: var(--hero-bg-color);
        background-image: linear-gradient(rgba(46,47,66,0.7), 
    rgba(46,47,66,0.7)
    ),
    url("../images/dekstop-hero.jpg");
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46,47,66,0.7), 
      rgba(46,47,66,0.7)
      ),
      url("../images/dekstop-hero-2x.jpg");
    }
  }
    .hero-title {
        margin-bottom: 48px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .section-one-item {
        width: calc((100% - 72px) / 4)
    }
    .section-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }
    .section-one-text {
        font-weight: 400;
    }

    .section-one-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        margin-bottom: 8px;
        background-color: var(--btn-bg-color);
    }
    .section-one-svg {
        width: 64px;
        height: 64px;
    }

    .doing {
        padding-top: 0;
        padding-bottom: 120px;
        display: block;
    } 
    .doing-list {
        display: flex;
        gap: 24px;
        padding: 0;
        margin: 0;
    }
    .doing-list img{
        display: block;
    }
    .last-picture img {
        margin-right: 0;
    }
    .section-two-title {
        margin-top: 0;
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        text-transform: capitalize;
    }

    .team > .container {
        max-width: 1200px;
    }
    .all-team {
        width: calc((100% - 72px) / 4);
       } 

    .customers > .container {
        max-width: 1200px;
    }
    .company-li {
        width: calc((100% - 80px) / 6);
    }
}