@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

    .hero {
        padding: 112px 136px;
        background-color: var(--hero-bg-color);
        background-image: linear-gradient(rgba(46,47,66,0.7), 
    rgba(46,47,66,0.7)
    ),
    url("../images/tablet-hero.jpg");
    }
    
    @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46,47,66,0.7), 
    rgba(46,47,66,0.7)
    ),
    url("../images/tablet-hero-2x.jpg");
  }
}

    .header-content {
        width: 496px;
    }

    .hero-title {
        margin-bottom: 40px;
        font-size: 56px;
        line-height: 60px;
    }

    .section-one-item {
        width: calc((100% - 24px) / 2);
    }
    .section-one-list {
        gap: 24px;
        row-gap: 72px;
    }
    .section-title {
        text-align: left;
    }

    .team > .container {
        max-width: 582px;
    }
    .team-list {
        gap: 24px;
        row-gap: 64px;
    }
   .all-team {
    width: calc((100% - 24px) / 2);
   } 

   .customers > .container {
    max-width: 582px;
}
    .company-li {
        width: calc((100% - 32px) / 3);
    }
}